{% extends "dashboard/dashboard.html" %}
{% block tasks %}



<!-- Bottom Section -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">

      <!-- Today's Tasks -->
      <div class="bg-white p-6 rounded-xl shadow-sm">
        <h2 class="text-lg font-semibold mb-6">Today's Tasks</h2>

        <ul class="space-y-4">
          <li class="flex justify-between items-center">
            <div class="flex items-center gap-3">
              <span class="w-2 h-2 bg-green-500 rounded-full"></span>
              <span class="text-sm sm:text-base">Complete project proposal</span>
            </div>
            <span class="text-xs sm:text-sm text-gray-400">High</span>
          </li>

          <li class="flex justify-between items-center">
            <div class="flex items-center gap-3">
              <span class="w-2 h-2 bg-yellow-400 rounded-full"></span>
              <span class="text-sm sm:text-base">Review team updates</span>
            </div>
            <span class="text-xs sm:text-sm text-gray-400">Normal</span>
          </li>

          <li class="flex justify-between items-center">
            <div class="flex items-center gap-3">
              <span class="w-2 h-2 bg-blue-500 rounded-full"></span>
              <span class="text-sm sm:text-base">Prepare for client meeting</span>
            </div>
            <span class="text-xs sm:text-sm text-gray-400">Low</span>
          </li>
        </ul>
      </div>


      <!-- All Tasks -->
      <div class="bg-white p-6 rounded-xl shadow-sm overflow-x-auto">
        <h2 class="text-lg font-semibold mb-6">All Tasks</h2>

        <table class="w-full min-w-[600px] text-left">
          <thead>
            <tr class="text-gray-500 text-sm border-b">
              <th class="pb-3">TASK TITLE</th>
              <th class="pb-3">PRIORITY</th>
              <th class="pb-3">TEAM</th>
              <th class="pb-3">CREATED AT</th>
            </tr>
          </thead>
          <tbody class="text-sm">

            <tr class="border-b">
              <td class="py-3">Test Low Task</td>
              <td>
                <span class="px-3 py-1 bg-blue-100 text-blue-600 rounded-full text-xs">
                  Low
                </span>
              </td>
              <td>
                <div class="flex -space-x-2">
                  <div class="w-8 h-8 rounded-full bg-cyan-500 text-white text-xs font-semibold flex items-center justify-center border-2 border-white">EA</div>
                  <div class="w-8 h-8 rounded-full bg-green-500 text-white text-xs font-semibold flex items-center justify-center border-2 border-white">S</div>
                  <div class="w-8 h-8 rounded-full bg-yellow-400 text-white text-xs font-semibold flex items-center justify-center border-2 border-white">AK</div>
                </div>
              </td>
              <td class="text-gray-400">9 months ago</td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>


{% endblock tasks %}
